In [69]:
import pandas as pd
import sqlite3 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('german_credit_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Age               1000 non-null   int64
 2   Sex               1000 non-null   object
 3   Job               1000 non-null   int64
 4   Housing           1000 non-null   object
 5   Saving accounts   817 non-null    object
 6   Checking account  606 non-null    object
 7   Credit amount     1000 non-null   int64
 8   Duration          1000 non-null   int64
 9   Purpose           1000 non-null   object
 10  Risk              1000 non-null   object
dtypes: int64(5), object(6)
memory usage: 86.1+ KB

In [4]:
df.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

In [5]:
df.drop('Unnamed: 0', axis = 1, inplace=True)

In [6]:
print(df.columns)

Index(['Age', 'Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account',
       'Credit amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

In [7]:
cols_to_fill = ['Saving accounts', 'Checking account']
df[cols_to_fill] = df[cols_to_fill].fillna('missing')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   1000 non-null   object
 5   Checking account  1000 non-null   object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
 9   Risk              1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.3+ KB

In [8]:
df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,missing,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,missing,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

In [9]:
df.value_counts('Job')

Job
2    630
1    200
3    148
0     22
Name: count, dtype: int64

In [11]:
print(df.columns.tolist(), len(df.columns.tolist()))

['Age', 'Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account', 'Credit amount', 'Duration', 'Purpose', 'Risk'] 10

In [13]:
df.value_counts('Risk')

Risk
good    700
bad     300
Name: count, dtype: int64

In [20]:
risk_mapping = {'good': 1, 'bad': 0}
df['Risk_Encoded'] = df['Risk'].replace(risk_mapping)
df['Risk_Encoded'].value_counts()

C:\Users\Ruslan\AppData\Local\Temp\ipykernel_7528\1518650132.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Risk_Encoded'] = df['Risk'].replace(risk_mapping)

Risk_Encoded
1    700
0    300
Name: count, dtype: int64

In [23]:
conn = sqlite3.connect(':memory:')

In [26]:
df.to_sql('credit_data', conn, if_exists='replace',index=False)
print("Данные успешно загруженны в SQL-таблицу credit_data")

Данные успешно загруженны в SQL-таблицу credit_data

In [31]:
sql_query = '''
SELECT
    Job,
    COUNT(*) as Total_client,
    (COUNT(*) - SUM(Risk_Encoded)) as Defaults,
    (ABS(COUNT(*) - SUM(Risk_Encoded))* 100) / COUNT(*) as Default_Rate_Percent
FROM
    credit_data
GROUP BY
    Job
ORDER BY
    4 DESC;
'''

results_df = pd.read_sql_query(sql_query, conn)
print(results_df)

   Job  Total_client  Defaults  Default_Rate_Percent
0    3           148        51                    34
1    0            22         7                    31
2    2           630       186                    29
3    1           200        56                    28

In [33]:
sql_query_2 = '''
SELECT
    Housing,
    COUNT(*) as Total_client,
    (COUNT(*) - SUM(Risk_Encoded)) as Defaults,
    (ABS(COUNT(*) - SUM(Risk_Encoded))* 100) / COUNT(*) as Default_Rate_Percent
FROM
    credit_data
GROUP BY
    Housing
ORDER BY
    4 DESC;
'''

results_df_2 = pd.read_sql_query(sql_query_2, conn)
print(results_df_2)

  Housing  Total_client  Defaults  Default_Rate_Percent
0    free           108        44                    40
1    rent           179        70                    39
2     own           713       186                    26

In [34]:
sql_query_3 = '''
SELECT
    Purpose,
    COUNT(*) as Total_client,
    (COUNT(*) - SUM(Risk_Encoded)) as Defaults,
    (ABS(COUNT(*) - SUM(Risk_Encoded))* 100) / COUNT(*) as Default_Rate_Percent
FROM
    credit_data
GROUP BY
    Purpose
ORDER BY
    4 DESC;
'''

results_df_3 = pd.read_sql_query(sql_query_3, conn)
print(results_df_3)

               Purpose  Total_client  Defaults  Default_Rate_Percent
0      vacation/others            12         5                    41
1            education            59        23                    38
2              repairs            22         8                    36
3             business            97        34                    35
4  domestic appliances            12         4                    33
5  furniture/equipment           181        58                    32
6                  car           337       106                    31
7             radio/TV           280        62                    22

In [36]:
sql_query_final = '''
SELECT
    Housing,
    Purpose,
    COUNT(*) as Total_client,
    (COUNT(*) - SUM(Risk_Encoded)) as Defaults,
    (ABS(COUNT(*) - SUM(Risk_Encoded))* 100) / COUNT(*) as Default_Rate_Percent
FROM
    credit_data
GROUP BY
    Housing,
    Purpose
ORDER BY
    5 DESC;
'''

results_df_final = pd.read_sql_query(sql_query_final, conn)
print(results_df_final)

   Housing              Purpose  Total_client  Defaults  Default_Rate_Percent
0     rent             business            16        11                    68
1     free              repairs             3         2                    66
2     free             business             5         3                    60
3      own      vacation/others             8         4                    50
4     rent  domestic appliances             2         1                    50
5     rent              repairs             2         1                    50
6     free            education            15         7                    46
7     free                  car            55        23                    41
8     rent            education            10         4                    40
9     rent  furniture/equipment            48        19                    39
10    rent                  car            63        23                    36
11     own            education            34        12                    35
12    free             radio/TV            15         5                    33
13     own  domestic appliances            10         3                    30
14     own  furniture/equipment           122        36                    29
15     own              repairs            17         5                    29
16    rent             radio/TV            38        11                    28
17    free  furniture/equipment            11         3                    27
18     own                  car           219        60                    27
19     own             business            76        20                    26
20    free      vacation/others             4         1                    25
21     own             radio/TV           227        46                    20

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   1000 non-null   object
 5   Checking account  1000 non-null   object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
 9   Risk              1000 non-null   object
 10  Risk_Encoded      1000 non-null   int64
dtypes: int64(5), object(6)
memory usage: 86.1+ KB

In [40]:
df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Risk_Encoded
0,67,male,2,own,missing,little,1169,6,radio/TV,good,1
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad,0
2,49,male,1,own,little,missing,2096,12,education,good,1
3,45,male,2,free,little,little,7882,42,furniture/equipment,good,1
4,53,male,2,free,little,little,4870,24,car,bad,0

In [41]:
df = df.drop(columns = ['Risk'])
categori_cols = ['Sex', 'Job', 'Housing', 'Saving accounts', 'Checking account', 'Purpose']
df_encoded = pd.get_dummies(df, columns = categori_cols, drop_first = True)
print(df_encoded.shape)
print(df_encoded.head())

(1000, 24)
   Age  Credit amount  Duration  Risk_Encoded  Sex_male  Job_1  Job_2  Job_3  \
0   67           1169         6             1      True  False   True  False
1   22           5951        48             0     False  False   True  False
2   49           2096        12             1      True   True  False  False
3   45           7882        42             1      True  False   True  False
4   53           4870        24             0      True  False   True  False

   Housing_own  Housing_rent  ...  Checking account_missing  \
0         True         False  ...                     False
1         True         False  ...                     False
2         True         False  ...                      True
3        False         False  ...                     False
4        False         False  ...                     False

   Checking account_moderate  Checking account_rich  Purpose_car  \
0                      False                  False        False
1                       True                  False        False
2                      False                  False        False
3                      False                  False        False
4                      False                  False         True

   Purpose_domestic appliances  Purpose_education  \
0                        False              False
1                        False              False
2                        False               True
3                        False              False
4                        False              False

   Purpose_furniture/equipment  Purpose_radio/TV  Purpose_repairs  \
0                        False              True            False
1                        False              True            False
2                        False             False            False
3                         True             False            False
4                        False             False            False

   Purpose_vacation/others
0                    False
1                    False
2                    False
3                    False
4                    False

[5 rows x 24 columns]

In [42]:
df_encoded['Age_Group'] = pd.qcut(df_encoded['Age'], q=4, labels=False)
df_encoded=pd.get_dummies(df_encoded, columns=['Age_Group'], drop_first=True)
df_encoded=df_encoded.drop(columns=['Age'])

print(df_encoded.shape)
print(df_encoded.head())

(1000, 26)
   Credit amount  Duration  Risk_Encoded  Sex_male  Job_1  Job_2  Job_3  \
0           1169         6             1      True  False   True  False
1           5951        48             0     False  False   True  False
2           2096        12             1      True   True  False  False
3           7882        42             1      True  False   True  False
4           4870        24             0      True  False   True  False

   Housing_own  Housing_rent  Saving accounts_missing  ...  Purpose_car  \
0         True         False                     True  ...        False
1         True         False                    False  ...        False
2         True         False                    False  ...        False
3        False         False                    False  ...        False
4        False         False                    False  ...         True

   Purpose_domestic appliances  Purpose_education  \
0                        False              False
1                        False              False
2                        False               True
3                        False              False
4                        False              False

   Purpose_furniture/equipment  Purpose_radio/TV  Purpose_repairs  \
0                        False              True            False
1                        False              True            False
2                        False             False            False
3                         True             False            False
4                        False             False            False

   Purpose_vacation/others  Age_Group_1  Age_Group_2  Age_Group_3
0                    False        False        False         True
1                    False        False        False        False
2                    False        False        False         True
3                    False        False        False         True
4                    False        False        False         True

[5 rows x 26 columns]

In [44]:
df_encoded['Duration_Group']=pd.qcut(df_encoded['Duration'], q=4, labels=False)
df_encoded = pd.get_dummies(df_encoded, columns=['Duration_Group'], drop_first=True)
df_encoded = df_encoded.drop(columns=['Duration'])
print(df_encoded.shape)
print(df_encoded.head())

(1000, 31)
   Credit amount  Risk_Encoded  Sex_male  Job_1  Job_2  Job_3  Housing_own  \
0           1169             1      True  False   True  False         True
1           5951             0     False  False   True  False         True
2           2096             1      True   True  False  False         True
3           7882             1      True  False   True  False        False
4           4870             0      True  False   True  False        False

   Housing_rent  Saving accounts_missing  Saving accounts_moderate  ...  \
0         False                     True                     False  ...
1         False                    False                     False  ...
2         False                    False                     False  ...
3         False                    False                     False  ...
4         False                    False                     False  ...

   Purpose_vacation/others  Age_Group_1  Age_Group_2  Age_Group_3  \
0                    False        False        False         True
1                    False        False        False        False
2                    False        False        False         True
3                    False        False        False         True
4                    False        False        False         True

   Duration_Group_1  Duration_Group_2  Duration_Group_3  Duration_Group_1  \
0             False             False             False             False
1             False             False              True             False
2             False             False             False             False
3             False             False              True             False
4             False              True             False             False

   Duration_Group_2  Duration_Group_3
0             False             False
1             False              True
2             False             False
3             False              True
4              True             False

[5 rows x 31 columns]

In [45]:
df_encoded['Credit_Amount_Group']=pd.qcut(df_encoded['Credit amount'], q=4, labels=False)
df_encoded = pd.get_dummies(df_encoded, columns=['Credit_Amount_Group'], drop_first=True)
df_encoded = df_encoded.drop(columns=['Credit amount'])
print(df_encoded.shape)
print(df_encoded.head())

(1000, 33)
   Risk_Encoded  Sex_male  Job_1  Job_2  Job_3  Housing_own  Housing_rent  \
0             1      True  False   True  False         True         False
1             0     False  False   True  False         True         False
2             1      True   True  False  False         True         False
3             1      True  False   True  False        False         False
4             0      True  False   True  False        False         False

   Saving accounts_missing  Saving accounts_moderate  \
0                     True                     False
1                    False                     False
2                    False                     False
3                    False                     False
4                    False                     False

   Saving accounts_quite rich  ...  Age_Group_3  Duration_Group_1  \
0                       False  ...         True             False
1                       False  ...        False             False
2                       False  ...         True             False
3                       False  ...         True             False
4                       False  ...         True             False

   Duration_Group_2  Duration_Group_3  Duration_Group_1  Duration_Group_2  \
0             False             False             False             False
1             False              True             False             False
2             False             False             False             False
3             False              True             False             False
4              True             False             False              True

   Duration_Group_3  Credit_Amount_Group_1  Credit_Amount_Group_2  \
0             False                  False                  False
1              True                  False                  False
2             False                   True                  False
3              True                  False                  False
4             False                  False                  False

   Credit_Amount_Group_3
0                  False
1                   True
2                  False
3                   True
4                   True

[5 rows x 33 columns]

In [50]:
unique_cols = df_encoded.columns[~df_encoded.columns.duplicated(keep='first')]

df_clean = df_encoded[unique_cols]

print(df_clean.shape)
print(df_clean.head())

(1000, 33)
   Risk_Encoded  Sex_male  Job_1  Job_2  Job_3  Housing_own  Housing_rent  \
0             1      True  False   True  False         True         False
1             0     False  False   True  False         True         False
2             1      True   True  False  False         True         False
3             1      True  False   True  False        False         False
4             0      True  False   True  False        False         False

   Saving accounts_missing  Saving accounts_moderate  \
0                     True                     False
1                    False                     False
2                    False                     False
3                    False                     False
4                    False                     False

   Saving accounts_quite rich  ...  Age_Group_3  Duration_Group_1  \
0                       False  ...         True             False
1                       False  ...        False             False
2                       False  ...         True             False
3                       False  ...         True             False
4                       False  ...         True             False

   Duration_Group_1  Duration_Group_2  Duration_Group_2  Duration_Group_3  \
0             False             False             False             False
1             False             False             False              True
2             False             False             False             False
3             False             False             False              True
4             False              True              True             False

   Duration_Group_3  Credit_Amount_Group_1  Credit_Amount_Group_2  \
0             False                  False                  False
1              True                  False                  False
2             False                   True                  False
3              True                  False                  False
4             False                  False                  False

   Credit_Amount_Group_3
0                  False
1                   True
2                  False
3                   True
4                   True

[5 rows x 33 columns]

In [51]:
df_encoded = df_encoded.loc[:, ~df_encoded.columns.duplicated()]
print(df_encoded.shape)

(1000, 30)

In [53]:
y = df_encoded['Risk_Encoded']
x = df_encoded.drop(columns=['Risk_Encoded'])
print(x.shape)

(1000, 29)

In [59]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

print(f"Размер обучающей выборки (X_train): {x_train.shape}")
print(f"Размер тестовой выборки (X_test): {x_test.shape}")

Размер обучающей выборки (X_train): (700, 29)
Размер тестовой выборки (X_test): (300, 29)

In [67]:
model = LogisticRegression(random_state=42, max_iter=1000)
model.fit(x_train, y_train)
print("Модель успешно обучена на данных X_train и y_train!")

Модель успешно обучена на данных X_train и y_train!

In [68]:
y_pred = model.predict(x_test)

print(f"Количество предсказаний: {len(y_pred)}")

Количество предсказаний: 300

In [70]:
accuracy = accuracy_score(y_test, y_pred)

print(f"Точность модели (процент успеха): {accuracy:.2f}")

Точность модели (процент успеха): 0.72